@use '../setup/vars';

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  pointer-events: auto;
  color: inherit;
}

html {
  background-color: vars.$bg-color;
  -webkit-font-smoothing: initial;
}

body {
  font-family: vars.$font-family;
  color: vars.$primary-text-color;
}

.modal-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1000;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 250px;
  z-index: 1001;
}

h4 {
  font-size: vars.$font-size-h4;
  line-height: vars.$font-line-height-h4;
  font-weight: 500;
  -webkit-font-smoothing: initial;
}
