.board-details-container {
  background-color: white;
  border-radius: 8px 0px 0px 0px;
  // padding-left: 40px;
  height: 105%;
  overflow: hidden;
}

.board-details-header {
}
.board-details-groups-container {
  display: flex;
  flex-direction: column;
  gap: 4em;
  margin-top: 28px;
  padding-left: 0;
  height: 78vh;

  @media (max-width: 990px) {
    width: 75vw;
  }

  @media (max-width: 790px) {
    width: 70vw;
  }

  @media (max-width: 590px) {
    width: 55vw;
  }


  overflow-y:scroll; /* Always show scrollbar */
  scrollbar-width:thin; /* For Firefox */
  scrollbar-gutter: auto; /* Fallback for unsupported browsers */
  scrollbar-gutter: stable both-edges; /* Modern browsers */
}
.add-group-button-container {
}
