@use '../setup/vars';

.board-details-container {
  border-radius: vars.$border-radius-medium;
  height: 105%;
  overflow: hidden;
  background-color: vars.$primary-background-color;
}

.no-groups-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  padding-top: vars.$spacing-xxl;
}

.board-details-groups-container {
  display: flex;
  flex-direction: column;
  // padding: 0 0 vars.$spacing-large 0;
  margin-top: vars.$spacing-medium;
  height: 83vh;
  overflow-x: hidden;
  overflow-y: scroll; /* Always show scrollbar */
  scroll-behavior: smooth; /* Smooth scrolling */
  // transform: translateX(40px);

  &::-webkit-scrollbar {
    width: vars.$spacing-small; /* Use spacing variable for scrollbar width */
  }

  &::-webkit-scrollbar-thumb {
    background-color: vars.$color-wolf_gray;
    border-radius: vars.$border-radius-small;
  }
  // scrollbar-width:thin ; /* For Firefox */
  // scrollbar-gutter: stable both-edges; /* Modern browsers */

  @media (max-width: 990px) {
    width: 75vw;
  }

  @media (max-width: 790px) {
    width: 70vw;
  }

  @media (max-width: 590px) {
    width: 55vw;
  }

  // transition: all vars.$motion-expressive-short vars.$motion-timing-transition;
}


.div-in-button {
  justify-content: center;
  align-items: center;
  justify-items: center;
  margin-right: vars.$spacing-small;
  padding-bottom: vars.$spacing-xs;
}


.div-in-button:hover {
  background-color: transparent !important;
}

.add-group-button-container {
  margin: vars.$spacing-xxl 0;
  &:hover {
    background-color: vars.$primary-background-hover-color;
  }
}
