@use '../setup/vars' as vars;
.home-page {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
  right: 12px;
  position: relative;
  background-color: white;
}

.hero-img-container {
  background-color: #eceff8; /* Background color stays here */
  padding: 10px; /* Optional spacing */
  display: flex;
  justify-content: center; /* Center the image if needed */
  align-items: center;
  margin: 0px 30px 0px 30px;
  height: 100%;
}

.hero-img {
  width: 60%;
  height: auto;
  filter: blur(2px);
}

.hero-layout {
  color: #fff;
  text-align: center;
  margin-top: 30px;
  background-color: #eceff8;
  border-radius: 40px 40px 0px 0px;
  margin: 10px 30px 0px 30px;
}

.hero {
  position: relative;
  align-items: center;
  justify-items: center;
  margin-top: 25px;
  h1 {
    font-size: 3rem;
    color: vars.$color-blackish;
    font-family: vars.$title-font-family !important;
    font-weight: 100;
    white-space: nowrap;
  }
}

.hero-btn {
  margin-top: 50px;
  padding: 1.5rem 3rem;
  font-size: 1.5rem;
  background-color: #5a5ad5;
  color: #fff;
  border-radius: 2rem;

  &:hover {
    background-color: #4f4fa5;
  }
}

@media (max-width: 1124px) {
  .hero h1 {
    font-size: 2.5rem;
  }
}

@media (max-width: 908px) {
  .hero h1 {
    font-size: 2rem;
  }
}

@media (max-width: 780px) {
  .hero h1 {
    font-size: 1.5rem;
    white-space: normal;
    text-align: center;
  }
}
