.boardHeader_main-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.boardHeader_title_and_additionalBoardActions {
  display: flex;
  justify-content: space-between;
  padding-top: 17px;
  white-space: nowrap;
}

.boardHeader_boardName {
  font-size: 25px;
  align-content: center;
  font-variation-settings: 'wght' 570; // seemed close to monday
}

.additional_board_actions {
}

.BoardNavBar_text {
  color: $primary-text-color;
}
.BoardNavBar_add-icon {
  color: $primary-text-color;
}
