@use "../setup/vars";

button {
  all: unset;
}

.board-actions-bar {
  display: flex;
  align-items: center;
  white-space: nowrap;

  .new-task-buttons {
    border-radius: 8px;

    .add-task-button {
      background-color: vars.$primary-color;
      text-transform: none;
      padding: 4px 10px 4px 10px;
      font-weight: vars.$font-weight-very-light;
      font-size: vars.$font-size-10;

      &:hover {
        box-shadow: none;
        background-color: vars.$primary-hover-color;
      }
    }

    .dropdown-button {
      background-color: vars.$primary-color;
      text-transform: none;
      min-width: 0;
      padding: 4px 3px 4px 3px;

      &:hover {
        box-shadow: none;
        background-color: vars.$primary-hover-color;
      }
    }
  }

  	.search-txt-input {
		padding: 0 2px;
		display: flex;
		align-items: center;
		width: 300px;
		border: 1px solid vars.$color-basic_blue;
		border-radius: 5px;
	}

  .dropdown-item {
    font-size: 13px;
    line-height: 1;
    color: #333;
    border-radius: 3px;
    display: flex;
    align-items: center;
    gap: 1rem;
    height: 25px;
    // padding: 0 5px;
    position: relative;
    // padding-left: 25px;
    user-select: none;
    outline: none;
    cursor: pointer;

    &:hover {
      background-color: #f0f0f0;
    }

    i {
    }
  }

  .icon-button {
    border-radius: 5px;
    font-size: 15px;
    display: flex;
    align-items: center;
    gap: 0.5rem;

    span {
      color: vars.$primary-text-color;
    }

    .icon {
      height: 22px;
      width: 22px;
      opacity: 1;
    }
  }

  .svg-icon {
    display: flex;
    opacity: 0.6;

    &.arrow-icon {
      opacity: 1;
    }
  }
}
