.board-details_footer {
  position: fixed;
  opacity: 0;
  bottom: 0;
  background-color: white;
  box-shadow: 0px 0px 14px rgba(0, 0, 0, 0.05), 0px 0px 34px rgba(0, 0, 0, 0.36);
  border-radius: 5px;
  z-index: 2000;
  display: flex;
  margin-bottom: 20px;
  transform: translateX(-32.5%);
}

.show_footer {
  opacity: 1;
  margin-bottom: 25px;
  left: 50%;
  transition: opacity 0.1s ease-in, margin-bottom 0.1s ease-in;
}

.hide_footer {
  opacity: 0;
  transition: none; // for instant close
  visibility: hidden; // so buttons wont be invisibly clickable
}

.footer_rest-of-footer {
  display: flex;
  justify-content: space-between;
}

.footer_blue-number {
  background-color: rgb(8, 116, 236);
  border-radius: 5px 0px 0px 5px;
  min-width: 65px;
  align-content: center;
  text-align: center;
}

.footer_blue-number span {
  font-weight: 550;
  font-size: 30px;
  color: white;
}

.footer_item-selected_container {
  width: 190px;
  padding-left: 18px;
  padding-top: 5px;
  padding-bottom: 5px;
  span {
    font-size: 25px;
    white-space: nowrap;
    font-weight: 350;
  }

  .footer_colored-dots {
    font-weight: 600;
    font-size: 50px;
    line-height: 0;
    margin-bottom: 5px;
  }
}

.footer_option {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-self: center;
  cursor: pointer;
  white-space: nowrap;
  font-weight: 450;
  padding-left: 5px;
}

.footer_option:hover {
  scale: 1.06;
  transition: scale 0.2s ease-in;
  padding-left: 4px;

  span {
    color: rgb(8, 116, 236);
    font-weight: 600;
  }
}

.footer_options_container {
  display: flex;
  margin-left: 20px;
  font-size: 14px;
  width: 460px;
  gap: 15px;
}

.footer_close-icon_container {
  width: 60px;
  opacity: 0.68;
}

.footer_close-icon_container:hover .footer_close-icon {
  stroke: rgb(8, 116, 236);
  fill: rgb(8, 116, 236);
  scale: 0.85;
  transition: scale 0.2s ease-in-out;
}

.dropdown-item {
  padding: 6px 12px;
  border-radius: 3px;
  cursor: pointer;
  font-size: 14px;
  border: none;
}

.dropdown-item:hover {
  background-color: #dcdfec;
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(20px); /* Start slightly below */
  }
  to {
    opacity: 1;
    transform: translateY(0); /* End at normal position */
  }
}

.fade-in-up {
  animation: fadeInUp 0.2s ease-out;
}
