.gp-main-container {
  display: flex;
  flex-direction: column;
  gap:10px;
  }


.gp-table{
   /*TODO: This is temporary and should be removed in the future once we add more style to the table*/
  width:  calc(100vw - 322px); // Side bar is 270 , gap is 12 , boardDetails padding left is 40 , so 270+12+40 = 322
}
