@use 'suggestedactions';

.gh-main-container {
	grid-area: gh-main-container;
	display: grid;
	grid-template-columns: 3em 1fr;
	grid-template-rows: 1fr;
	gap: 0px 0px;
	grid-template-areas: 'gh-suggested-actions-icon gh-title';
}

.gh-suggested-actions-icon {
    grid-area: gh-suggested-actions-icon;
    justify-self: center
}

.gh-title {
    grid-area: gh-title;
    display: flex;
    gap: 0.7rem;
    width: max-content;
}

.gh-how-many-tasks {
	visibility: hidden;
	opacity: 0;
    align-self: flex-end;
	transition: opacity 0.3s ease, visibility 0s 0.5s; /* Smooth fade-in and fade-out */
}

.gh-main-container:hover .sa-main-container,
.gh-main-container:hover .gh-how-many-tasks {
	visibility: visible;
	opacity: 1; /* Fully visible */
	transition: opacity 0.3s ease, visibility 0s 0s; /* Smooth fade-in */
}

.gh-expand-icon {
}
