/* src/Navbar.css */

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  position: sticky;
  top: 0;
  z-index: 1000;
  height: 50px;
  font-family: $navbar-font; 
  font-size: large;

}

.navbar-logo img {
  height: 30px;
  width: 30px;
}

.navbar-logo {
  display: flex;
  align-items: center;
  gap: 6px;
  font-weight: 150;
}
.navbar-logo span {
  font-weight: bold;
  opacity: 0.8;
}


.appsroundedicon{
  margin-top: 4px; // Ugly adaptaion to center the icon...
}


.navbar-links {
  display: flex;
  align-items: center;
  gap: 5px;

}

.navbar-link {
  text-decoration: none;
  transition: scale 0.35s ease;
  padding: 6px 9px;
}

.navbar-link:hover {
  background-color: #e1e1e1;
  border-radius: 10px;
}


.navbar-avatar{
  margin-left: 15px;
  display: flex;
  bottom:2px;
}