@use '../setup/vars';

/* src/Navbar.css */

.navbar {
  grid-area: navbar;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  padding-top: 10px;
  position: sticky;
  top: 0;
  z-index: 1000;
  line-height: 16x;
  font-family: vars.$h1-font-family;
  color: #323338;
  font-size: 16px;
  word-spacing: 0.7px;
}

.navBar-logo-title {
}

.navBar-company-name {
  font-weight: 900;
}

.navbar-logo img {
  height: 30px;
  width: 30px;
  height: 25px;
  width: 25px;
}

.navbar-logo {
  display: flex;
  align-items: center;
  gap: 6px;
}

.navbar-links {
  display: flex;
  align-items: center;
  gap: 5px;
}

.navbar-link {
  text-decoration: none;
  transition: scale 0.35s ease;
  padding: 6px 9px;
  color: vars.$primary-text-color;
}

.navbar-link:hover {
  background-color: #e1e1e1;
  border-radius: 10px;
}

.navbar-avatar {
  margin-left: 15px;
  display: flex;
  bottom: 2px;
}

.navbar-avatar-container {
  padding: 7px 10px 4px 10px;
  margin-right: 8px;
}

.navbar-avatar-container:hover {
  background-color: #f8f4f4;
  border-radius: 6px;
}
