@use '../setup/vars';

/* src/Navbar.css */

.navbar {
  grid-area: navbar;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 3px;
  padding-top: 6px;
  position: sticky;
  top: 0;
  z-index: 1000;
  line-height: 16x;
  font-family: vars.$h1-font-family;
  color: #323338;
  font-size: 16px;
  word-spacing: 0.7px;
}

.navBar-logo-title {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-family: vars.$h1-font-family;
}

.navBar-company-name {
  margin-right: vars.$spacing-xs;
  font-family: vars.$h1-font-family;
  letter-spacing: vars.$letter-spacing-h1-bold ;
  font-weight: 700;
  padding: 0px 0px 0px 10px;
}

.navbar-logo img {
  height: 25px;
  width: 25px;
}

.navbar-logo {
  display: flex;
  align-items: center;
  
  //gap: 6px;
  
}

.navbar-links {
  display: flex;
  align-items: center;
  gap: 5px;
  padding-top: 5px;
  margin-right: 24px;
  justify-content: center;
}

.navbar-link {
  text-decoration: none;
  transition: scale 0.35s ease;
  padding: 10px;
  color: vars.$primary-text-color;
}

.navbar-link:hover {
  background-color: rgba(176, 182, 212, 0.2);
  border-radius: 5px;
}

.navbar-avatar {
  margin-left: 15px;
  display: flex;
  bottom: 2px;
}

.navbar-avatar-container {
  padding: 7px 10px 4px 10px;
  margin-right: 8px;
}

.navbar-avatar-container:hover {
  background-color: #f8f4f4;
  border-radius: 6px;
}
