.sa-main-container button:hover{
background-color: rgb(200, 205, 227);
}

.sa-main-container{
    opacity:0;
    position: relative;
    width: 40px; // Because we moved the whole line 40px to the left, the width of the 3 dots should be exactly 40
    display: flex; 
    justify-content: center;
}
