
@use "../setup/vars";

/* Status and Priority Classes */
.label-picker-cmp {
  position: relative;
  width: 100%;
}

.label-trigger {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  padding: 8px;
  border-radius: 4px;
  text-align: center;
  color: white;

  &:hover {
    opacity: 0.8;
  }
}

.label-box {
  color: white;
}

/* Members Classes */
.member-picker {
  display: flex;
  justify-content: center;
  .member-avatars {
    height: 38px;
    align-content: center;
  }
  .member-NO-avatar {
    display: flex;
    height: 32px;
    border-radius: 50%; /* Make it circular */
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.1); /* Soft outer shadow */
    border: 1px solid rgba(0, 0, 0, 0.1); /* Subtle border */
  }

  .dropdown-container {
    height: auto;
    min-height: 200x;
    max-height: 250px;
    width: 28px;
    margin: 10px auto;
    position: absolute;
    top: 50%;
    z-index: 10;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.5);
    padding: 1em;
    background-color: white;
    border-radius: 8px;
    min-width: 20rem;
    overflow-y: auto;
  }
    .member-selected-name-container {
      background-color: rgb(229, 244, 255);
      border-radius: 20px;
      white-space: nowrap;
      margin: 3px;
      display: flex;
      align-items: center;
    }

    .custom-menu-list {
      max-height: 200px;
      overflow-y: auto;
    }

    .custom-option {
      transition: background-color 0.2s;
      padding: 4px;
      border-radius: 8px;

      &:hover {
        background-color: rgba(196, 196, 196, 0.2);
      }

      .member-option {
        display: flex;
        align-items: center;

        .member-option-img {
          border-radius: 50%;
          width: 30px;
          height: 30px;
          margin-right: 10px;
        }
      }
    }
  }


/* Date Classes */
.date-picker-container {
  position: relative;
  display: inline-block;
  font-family: vars.$font-family;

  .date-picker-dropdown {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%);
    z-index: 10;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.5);
    padding: 1em;
    background-color: white;
    border-radius: 8px;
    min-width: 20rem;
  }
  

  .custom-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px;
    border-radius: 8px;
  }
}