.custom-table {
	width: 100%;
	border-spacing: 0;
	font-size: 16px;
	text-align: center;
	color: #4f4f4f;
}

.custom-table td {
	border: 1px solid #e0e0e0;
}

.header-cell {
	font-weight: bold;
}

.task-row {
	&.checked {
		background-color: #cce9ff; // Ensure the background is light blue
		.task-cell,
		.data-cell {
			background-color: #cce9ff;
			.member-avatars {
				background-color: #cce9ff;
			}
		}
	}
	min-height: 45px;
}

.task-cell {
	align-items: center;
	display: flex;
	padding-left: 15px;
	height: 45px;
	font-weight: bold;

	.open {
		opacity: 0;
		display: flex;
		justify-content: flex-end;
		transition: opacity 0.3s ease-in-out;
		cursor: grab;
		flex: 1;
		font-size: 13px;

		div {
			align-items: center;
			display: flex;
			cursor: pointer;

			span {
				margin-bottom: 2px;
			}
		}
	}
}

.task-menu {
	position: absolute;
	padding: 7px;

	align-content: start;
	display: flex;
	transform: translateX(-45px) translateY(-3px);
	opacity: 0;
}

.task-menu:hover {
	opacity: 1;
}

.open:hover {
	opacity: 0.7;
}

.data-cell {
	
}

.empty-cell {
}

.checkbox-cell {
	width: 1rem;
}
