.custom-table {
	width: 100%;
	border-collapse: collapse;
	margin: 10px 0;
	font-size: 16px;
	text-align: center;
	margin-left: 25px;
}

.custom-table td {
	border: 1px solid #ccc;
}

.header-cell {
	background-color: #f4f4f4;
	font-weight: bold;
}

.task-row {
	&.checked {
		background-color: #cce9ff; // Ensure the background is light blue
		.task-cell,
		.data-cell {
			background-color: #cce9ff;
      .member-avatars {
        background-color: #cce9ff;
		}
	}
}
min-height:45px;
}


.task-cell {
	background-color: #fafafa;
	font-weight: bold;
	text-align: start;
	align-items: center;
	display: flex;

	padding-left: 15px;
	height: 45px;
	justify-content: space-between;
  }
  
  .task-cell .open {
	opacity: 0;
	margin: 3px;
	height: 40px;
	display: flex;
	justify-content: flex-end;
	transition: opacity 0.3s ease-in-out; 
	padding: 0px 20px;
	flex: 1;
	font-size: 13px;
	gap:3px;
  }

    

.open:hover {
	opacity: 0.5;
  }



.data-cell {
	background-color: #fff;
}

.empty-cell {
	background-color: #f9f9f9;
}

.checkbox-cell {
	width: 1rem;
}
