/* Status and Priority Classes */
.label-picker-cmp {
	position: relative;
	width: 100%;
}

.label-trigger {
	display: flex;
	align-items: center;
	justify-content: center;
	cursor: pointer;
	padding: 8px;
	border-radius: 4px;
	text-align: center;
	color: white;

	&:hover {
		opacity: 0.8;
	}
}

.label-box {
	color: white;
}

/* Members Classes */
.member-picker {
	display: flex;
	flex-direction: column;
	align-items: center;
	position: relative;

	.member-avatars {
		display: flex;
		align-items: center;
		justify-content: center;
		height: 36px;
		width: 100%;
		position: relative;

		.member-avatar {
			height: 100%;
			max-width: 36px;
			border-radius: 50%;
			object-fit: cover;
			position: absolute;
			left: 50%;
			transform: translateX(-50%);
		}
	}

	.dropdown-container {
		position: absolute;
		top: 110%;
		z-index: 10;
		box-shadow: 0 0 8px rgba(0, 0, 0, 0.5);
		padding: 1em;
		background-color: white;
		border-radius: 8px;
		min-width: 20rem;

		.member-selected-name-container {
			background-color: rgb(229, 244, 255);
			border-radius: 20px;
			white-space: nowrap;
			margin: 3px;
			display: flex;
			align-items: center;
		}

		.custom-menu-list {
			max-height: 200px;
			overflow-y: auto;
		}

		.custom-option {
			transition: background-color 0.2s;
			padding: 4px;
			border-radius: 8px;

			&:hover {
				background-color: rgba(196, 196, 196, 0.2);
			}

			.member-option {
				display: flex;
				align-items: center;

				.member-option-img {
					border-radius: 50%;
					width: 30px;
					height: 30px;
					margin-right: 10px;
				}
			}
		}
	}
}

/* Date Classes */
.date-picker-container {
	position: relative;
	display: inline-block;
	font-family: 'Roboto', sans-serif;

	.date-picker-dropdown {
		position: absolute;
		top: 100%;
		left: 0;
		z-index: 10;
		background-color: #fff;
		box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
		border-radius: 8px;
	}

	.custom-calendar {
		display: flex;
		flex-direction: column;
		gap: 2px;

		.react-datepicker__header {
			background-color: #e1eefd !important;
			border: none;
		}

		.react-datepicker__day--selected {
			background-color: #0073e6 !important;
			color: white !important;
			border-radius: 50% !important;
			font-weight: bold;
		}

		.react-datepicker__day:hover {
			background-color: #abd6ff !important;
			border-radius: 50% !important;
		}

		.react-datepicker__day--today {
			font-weight: bold;
			border: 1px solid #0073e6;
			border-radius: 50%;
			color: #0073e6;
		}
	}

	.custom-header {
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: 8px;
		border-radius: 8px;

		button {
			border: none;
			background-color: transparent;
			font-size: 1rem;
			cursor: pointer;
			color: #0073e6;

			&:disabled {
				color: #ccc;
			}

			&:hover:not(:disabled) {
				color: #005bb5;
			}
		}

		span {
			font-weight: bold;
			font-size: 1.1rem;
			color: #333;
		}
	}

	.react-datepicker__navigation {
		top: 16px !important;
		line-height: 1.8 !important;
		background: transparent !important;
		border: none;

		&::before {
			content: '';
			display: inline-block;
			border: solid #0073e6;
			border-width: 0 3px 3px 0;
			padding: 6px;
			transform: rotate(-135deg);
		}

		&:hover::before {
			border-color: #005bb5;
		}
	}
}