.user-msg-container > div {
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
  text-wrap: nowrap !important;
  position: fixed;
  top: 16px; /* Ensures it's at the top */
  left: 50%;
  transform: translateX(-50%); /* Centers it horizontally */

  max-width: 300px !important;
  border-radius: 4px !important;
  height: 48px !important;

  margin: 16px 0px !important;
  padding: 8px !important;
  font-size: 14px !important;
}
