$light: #abcdc1;
$nes: #98bec1;
$moka: #7ec1ad;
$espresso: #1c2424;

// --------------------------
@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@100..900&display=swap');


$bg-color: #eceff8;
$navbar-font: 'Lexend Deca', sans-serif;